<p id="notice"><%= notice %></p>

</br></br>
    <% @posts.each do |post| %>
    <div class="row">
      <div class="col l8 offset-l2">
        <div class="card">
          <div class="card-action">
              <span class="card-title"><%= post.user.email %></span>
            </div>
          <div class="card-image">
            <%= image_tag post.image %>
          </div>
          <div class="card-content">
            <p class="left-align" style="font-weight:bold">Likes:  <span style="font-weight:lighter"><%= post.likers(User).count %></span></p>

            <p class="left-align" style="font-weight:bold">Likers: <span style="font-weight:lighter"> <% post.likers(User).count do |likers| %>,
            <%= likers.email %><% end %></span></p>
          </br>
            <p class="description"><%= post.description %></p>
          </div>
          <div class="card-action">
            <% if user_signed_in? %>
            <% if current_user.likes?(post) %>
            <%= link_to '<i class="fa fa-heart fa-3x"></i>'.html_safe, unlikes_path(post) %>
            <% elsif %>
            <%= link_to '<i class="fa fa-heart-o fa-3x"></i>'.html_safe, likes_path(post) %>
            <% end %>
            <% end %>
          </div>

        </div>
      </div>
    </div>

  <% end %>
